@model IEnumerable<MVCWebApplication.Models.Transaction>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Payment.CreditCardNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Schedule.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Schedule.SkipDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Payment.CreditCardNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Schedule.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Schedule.SkipDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
